html, body {
    background-color: currentColor;
}
.carousel-control-prev {
    outline: groove;
}

.carousel-control-next {
    outline: groove;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fff;
}