<html>
<head>
    <title>{{title}} - Automizer</title>
    <script type="text/javascript" src="/static/js/jquery-3.5.1.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-full">
    <div class="h-100">
        <div id="carouselExampleCaptions" class="carousel slide h-100 carousel-dark" data-bs-ride="carousel" data-bs-interval="false" >
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="text-white position-absolute" style="top: 10px; font-size: 18px;">LOAD AVERAGE:
                    <span id="load-average">{% for i in load_average %} {{i}} {% endfor %}</span>
                </div>
                <div class="text-white position-absolute" style="top: 30px;font-size: 18px;">CPU:
                    <span id="cpu_load">{{cpu_load}}</span>
                </div>
                <div class="text-white position-absolute" style="top: 50px;font-size: 18px;">RAM used:
                    <span id="used-memory">{{used_memory}}</span>
                </div>
                <div class="text-white position-absolute" style="top: 70px;font-size: 18px;">RAM avail:
                    <span id="avail-memory">{{avaliable_memory}}</span>
                </div>
                <div class="text-white position-absolute" style="top: 90px;font-size: 18px;">Disk usage:
                    <span id="disk-usage">{{disk_usage}}</span>
                </div>
                <div class="text-white position-absolute" style="top: 10px;font-size: 14px; right: 120px;">NET intf:
                    <span id="net-interfaces" class="position-absolute">{% for i in intrefaces %}{{i}}<br />{%endfor%}</span>
                </div>
                <div class="text-white position-absolute" style="top: 230px;font-size: 14px; right: 120px;">NET addr:
                    <span id="net-addrs" class="position-absolute">{% for i in list_net_addrs %}{{i}}<br />{%endfor%}</span>
                </div>

                <div class="container pt-4">
                    <div id="fileMessage" class="h-100 ">
                        <form action="/script/" method="post" class="d-flex flex-wrap justify-content-center">
                            {% for item in files %}
                                <button class="btn btn-primary p-5 m-4 text-uppercase" style="font-size: 24px;" name="button" type="submit" value="{{item}}">{{ item }}</button>
                            {% endfor %}
                        </form>
                    </div>
                  <div class="carousel-caption d-none d-md-block text-white-50">
                    <h5>System Utils</h5>
                    <p>Very help full system utils.</p>
                  </div>
                </div>
            </div>
            <div class="carousel-item">
<!--              <img src="..." class="d-block w-100" alt="...">-->
              <div class="carousel-caption d-none d-md-block text-white-50">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
<!--              <img src="..." class="d-block w-100" alt="...">-->
              <div class="carousel-caption d-none d-md-block text-white-50">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


        <script type="text/javascript">
<!--                setInterval(function(){-->
<!--                  $.ajax({-->
<!--                      type:"POST",-->
<!--                      url: "/list-scripts/",-->
<!--                      success: function(data) {-->
<!--                              $('#fileMessage').html('')-->
<!--                              console.info('JSON data:', JSON.stringify(data));-->
<!--                              console.log(data);-->
<!--                              let listFiles = JSON.stringify(data);-->
<!--                              for (const elem of data) {-->
<!--                                console.log(elem);-->
<!--                                $('#fileMessage').append('<button class="btn btn-primary card" type="submit" name="' + elem + '">' + elem + '</button>');-->
<!--                              }-->

<!--                          },-->
<!--                      error: function(jqXHR, textStatus, errorThrown) {-->
<!--                              alert(jqXHR.status);-->
<!--                          },-->
<!--                     dataType: "json"-->
<!--                  });-->
<!--                }, 2000);-->

        </script>

        <script type="text/javascript">
            setInterval(function(){
              $.ajax({
                  type:"POST",
                  url: "/load-average/",
                  success: function(data) {
                          $('#load-average').html('')

                          for (const elem of data) {
                            $('#load-average').append('<strong>' + elem + '</strong> ')
                          }
                      },
                  error: function(jqXHR, textStatus, errorThrown) {
                          alert(jqXHR.status);
                      },
                 dataType: "json"
              });
            }, 2000);

        </script>
    </div>
</div>
</body>
</html>